{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Login</h2>
            <p class="mt-2 text-lg/8 text-gray-600">Veuillez rentrer vos identifiants pour vous connecter.</p>
        </div>
        <form action="{{ path('api_login') }}" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                <div class="sm:col-span-2">
                    {{ form_row(form.email, { 'attr': {'class': 'block w-full rounded-md border-0 px-3.5 py-2' } }) }}
                </div>
                <div class="sm:col-span-2">
                    <div class="mt-2.5">
                        {{ form_label(form.password, 'Password', { 'label_attr': { 'class': 'block text-sm/6 font-semibold text-gray-900' } }) }}
                        {{ form_widget(form.password, { 'attr': {'class': 'block w-full rounded-md border-0 px-3.5 py-2' } }) }}
                    </div>
                </div>
            </div>
            <div class="mt-10">
                {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}
    </div>
{% endblock %}
